.picture1 {
    position: absolute;
    width: 1670px;
    height: 1035px;
    left: 253px;
    top: 205px;
}

.text1 {
    position: absolute;
    width: 380px;
    height: 823px;
    left: 1940px;
    top: 360px;

    /* P */
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 39px;

    /* or 195% */
    display: flex;
    align-items: center;
    letter-spacing: 0.005em;

    color: #000000;
}